<md-card class="container">
  <md-card-title>{{title}}</md-card-title>
  <md-card-content class="content">
    <new-todo></new-todo>
    <todo-list [type]="type"></todo-list>
  </md-card-content>
    <md-card-actions>
      <button
        md-button
        *ngFor="let button of buttons"
        (click)="onButtonClick(button.type)"
        [color]="type === button.type ? 'accent' : ''"
      >
        {{button.title}} ({{getLength(button.type)}})
      </button>
    </md-card-actions>
</md-card>